
html {
        margin: 20px; 
        background-color: DodgerBlue;
       
}

body {
        
        font - family: ;
        font-size: 40px;
        color: #333;
}
 
h1 {
        font-size: 20px;
}


