h1 {
      font-family: "Luminari", fantasy;
      color: #ff7f50;
      font-size: 40px;
}

h2 {
      font-family: "Apple Chancery", cursive;
      color: #ff7f50;
      font-size: 30px;
}


body {
        background: 	#000000;

}

p {
        font-family: "Palatino", serif;
        color: #a9a9a9;
        font-size: 25px;
        text-align: justify;

}
