@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Forum&display=swap');

html {
  scroll-behavior: smooth;
  cursor: url("cursor.png"), default;
}
h1 {
      font-family: "Forum";
      color: #87cefa;
      font-size: 40px;
      padding-top: 125px;
      margin-right: 70px;
      transition: text-shadow 500ms, color 500ms, font-size 500ms;
}
h1:hover {
      text-shadow: 2px 2px 8px;
      font-size: 50px;
      color: hotpink;
}
h2 {
      font-family: "Forum";
      color: #87cefa;
      font-size: 30px;
      transition: text-shadow 500ms, color 500ms, font-size 500ms;
}

#enviro:hover {
      text-shadow: 2px 2px 8px;
      font-size: 40px;
      color: rgb(144, 238, 167);
}
#write:hover {
      text-shadow: 2px 2px 8px;
      font-size: 40px;
      color: rgb(208, 144, 238);
}

h3 {
      font-family: "Forum";
      color: lavender;
      margin-left: 100px;
      padding-top: 30px;
      text-align: justify;
}

section {
  background-color: midnightblue;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
  border-radius: 50px;
  padding-bottom: 10px;
}
#icon {
      vertical-align: middle;
      padding-right: 5px;
      margin-left: 45px;
      padding-bottom: 10px;
}
#resume{
      margin-left: 95px;
      text-decoration: none;
      color: #87cefa;
      font-size: 15px;
      font-family: "Forum";
}

#chrome {
  font-family: "Forum";
  color: #87cefa;
  text-decoration: none;
}

#app {
  margin-bottom: 50px;
}
#story {
  margin-bottom: 50px;
}
#me {
  width: 400px;
  height: 642px;
  margin-top: 30px;
  margin-left: 200px;
  border: 4px solid pink;
  background: url("painting.jpg");
}

body {
      background-image: url("stars.gif");
      background-size: cover;
}
p {
      font-family: "Forum";
      color: silver;
      font-size: 20px;
      text-align: justify;
      margin-left: 100px;
      margin-right: 100px;
}

aside {
        width: 25%;
        padding-left: 15px;
        margin-left:  15px;
        margin-right: 200px;
        float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: inline-start; 
  color: #f2f2f2;
  font-family: "Forum";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
  color: rgb(74, 49, 184);
}

